OPENROUTER_API_KEY=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
MODEL_NAME=openai/gpt-4o-mini
TEMPERATURE=0.7
ENV=development
RAPIDAPI_KEY=your_rapidapi_key
SMTP_SENDER_EMAIL=snvineeth10@gmail.com
SMTP_SENDER_PASSWORD="fzas ahsf bgiu qscd"
